<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>


<body>

<a href="/mercado/index.html">Home</a>
<br>
<a href="/mercado/novo-produto.html">Novo Produto</a>
<br>
<a href="/mercado/novo-fabricante.html">Novo Fabricante</a>

	<div id="lista-fabricantes" class="container-fluid table" >
		<h4>Lista de Fabricantes</h4>
		<table class="table table-bordered table-striped table-hover">
		  <tr>
			<th>Nome</th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="fabricante in listaFabricantes">
			  <td>{{ fabricante.nome }}</td> 
			  <td><span @click="editarFabricante(fabricante.id)">&#9998;</span>
				<span  @click="excluirFabricante(fabricante.id)">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/lista-fabricantes.js"></script>

</body>
</html>