<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Cadastrar um novo Produto </title>
	<link rel="stylesheet" type="text/css"
		href="./resources/css/bootstrap.min.css">
</head>

<body>

<a href="/mercado/index.html">Home</a>
<br>



<div class="container-fluid">


    <form id="novo-produto" @submit="salvarProduto()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input class="form-control" v-model="produto.nome" id="nome" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="fabricante">Fabricante:</label>
        <select class="form-control" v-model="fabricante">
				<option v-for="fab in listaFabricantes">{{ fab.nome }}</option>
			</select>
      </div>

      <div class="form-group">
        <label for="volume">Volume: </label>
        <input class="form-control" v-model="produto.volume" id="volume" autocomplete="off">
      </div>
      
      <div class="form-group">
        <label for="unidade">Unidade: </label>
        <input class="form-control" v-model="produto.unidade" id="unidade" autocomplete="off">
      </div>
      
      <div class="form-group">
        <label for="estoque">Estoque: </label>
        <input class="form-control" v-model="produto.estoque" id="estoque" autocomplete="off">
      </div>

      <button type="submit" class="btn btn-primary" >Cadastrar</button>

    </form>
  </div>

<script src="./resources/js/vue.js"></script>
<script src="./resources/js/axios.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/novo-produto.js"></script>

</body>
</html>